.poster {
  position: relative;
  width: 542px;
  height: 336px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 64px 64px 0 rgba(25,28,34,0.15), 0 32px 32px 0 rgba(25,28,34,0.15), 0 16px 16px 0 rgba(25,28,34,0.1), 0 8px 8px 0 rgba(25,28,34,0.1), 0 4px 4px 0 rgba(25,28,34,0.1);
  overflow: hidden;
}
.poster .shine {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 30%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 30%);
  z-index: 100;
}
.poster div[class*="layer"] {
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.poster .layer1 {
  background-image: url("images/cannabizgif2.gif");
}
.poster .layer2 {
  background-image: url("images/2.png");
}
.poster .layer3 {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("images/3.png");
}
.poster .layer4 {
  background-image:url("images/1.png");
}
.poster .layer5 {
  background-image: url("images/5.png");
}
